body {
	background: #dfdfdf;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

div.content {
	display: flex;
}

div.box {
	background: #ececec;
	border-radius: 5px;
	margin: 30px;
	padding: 20px;
	box-shadow: 0 8px 8px -4px #1f1f1f;
	float: left;
}

td {
	border: 1px solid black;
	padding: 10px;
}

.status-progress {
	background: #d9c832;
}

.status-success {
	background: #0d9106;
}

.status-fail {
	background: #a82207;
}

a.button {
	background: #1f1f1f;
	border-radius: 5px;
	color: #dedede;
	padding: 20px;
	text-decoration: none;
}

canvas {
	background: rgb(39,85,93);
	background: radial-gradient(circle, rgba(39,85,93,1) 0%, rgba(11,23,25,1) 100%);
	margin: 0;
	width: 100%;
	height: 100%;
}
